# Environment variables and secrets
.env

# Exclude folders
delete/
presentation

# Exclude files
data/g_cpc_title.tsv
data/PCDExcelReport26.xls
data/no_careproducts_PCDExcelReport26.xls
notebooks/02_my_notes.ipynb
notebooks/01_innolens-pres.ipynb

# Secrets
.streamlit/secrets.toml
